pkgbase = dznlinux-splash-dark-plasma-git
	pkgdesc = DZN-Linux Dark Splash Screen for Plasma 6
	pkgver = r1.0
	pkgrel = 1
	url = https://github.com/DZN-Linux/dznlinux-splash-dark-plasma
	arch = any
	license = GPL3
	makedepends = git
	depends = plasma-workspace
	provides = dznlinux-splash-dark-plasma
	conflicts = dznlinux-splash-dark-plasma
	options = !strip
	options = !emptydirs
	source = dznlinux-splash-dark-plasma::git+https://github.com/DZN-Linux/dznlinux-splash-dark-plasma.git
	sha256sums = SKIP

pkgname = dznlinux-splash-dark-plasma-git
